.arboles{
    display: flex;
    height: 185px;
    gap: 25px;
    padding: 9%;
}
.arbol1{
    border-radius: 50%;
    filter: drop-shadow(0 0 00.75rem #bc4e26);
}
.arbol2{
    border-radius: 12%;
    filter: drop-shadow(0 0 00.75rem #758c0b);
}
.arbol2:hover::before{
    left: calc(100% + 10px);
    transition: left 500ms;
}
.arbol3{
    border-radius: 24%;
    filter: drop-shadow(0 0 00.75rem #14af83);
}
.arbol4{
    border-radius:
    50% 10% 50% 10% /
    10% 50% 10% 50%;
    filter: drop-shadow(0 0 00.75rem #1e7397);
}
.arbol5{
    border-radius: 
    10% 50% 10% 50% /
    50% 10% 50% 10%;
    filter: drop-shadow(0 0 00.75rem #330963);
}